<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Form</title>
    <link rel="stylesheet" href="/css/style.css">    
</head>
<body>

<div th:replace="~{navbar :: body}"></div>

<h2>Car Form</h2>

<form th:action="@{${formAction}}"
      th:object="${car}" method="post">

    <input type="hidden" th:field="*{id}" />

    Make: <input type="text" th:field="*{make}" name="make"/><br/>
    Model: <input type="text" th:field="*{model}" name="model"/><br/>
    Plate: <input type="text" th:field="*{plate}" name="plate"/><br/>
    Year: <input type="number" th:field="*{year}" name="year"/><br/>
    Price: <input type="number" th:field="*{dailyPrice}" name="dailyPrice"/><br/>
    Available: <input type="checkbox" th:field="*{available}" name="available"/><br/>

    <button type="submit" name="btn_submit">Save</button>

</form>

<a href="/">Back</a>

</body>
</html>
