name: Java CI with Maven

on:
  push:
    branches:
      - master
      - feature/*
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: maven

      - name: Cache Maven and SonarCloud packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.sonar/cache
          key: ${{ runner.os }}-maven-sonar-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-sonar

      - name: Build, Test, and Analyze (Coverall and Sonar) with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          mvn -B verify -Pjacoco,coveralls \
            org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=WajahatAliFarooq_car_rental_sys \
            -DrepoToken=$COVERALLS_REPO_TOKEN \
            -DpullRequest=${{ github.event.pull_request.number }}

